$primary-color: rgba(38,28,70,1);

.Header {
  height: auto;
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  width: calc(100% - 50px);
}

.Header__title {
  color: #5f5fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2em;
  font-weight: 300;
}

.Logo {
  flex-basis: 33%;
}

.Navigation--Desktop {
  flex-basis: 67%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  > *:not(first-child) {
    margin-left: 50px;
  }
}

.button--BcProcessor {
  svg {
    fill: white;
  }
}
.dropdown {
  z-index: 99;
  .dropdown--processor {
    position: absolute;
    top: 80px;
    right: 0;
    width: 420px;
    height: 420px;
    background: white;
    z-index: 99;
  }
  .dropdown--backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
