.Tokens__Container {
	max-width: 1200px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	.Tokens__Header {
		width: 100%;
		display: flex;
		align-items: center;
		button {
			margin-left: 30px;
		}
	}
	.Tokens__Explore {
		flex-basis: 100%;
	}
}

.divTable {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.divTableRow {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #eeeeee;
	padding: 15px 0px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	.divTableCell:nth-of-type(1) {
		width: 5%;
	}
	.divTableCell:nth-of-type(2) {
		width: 20%;
		svg { width: 28px; height: 28px; vertical-align: middle; margin-right: 5px;}
	}
	.divTableCell:nth-of-type(3) {
		width: 50%;
	}
	.divTableCell:nth-of-type(4) {
		width: 10%
	}
	.divTableCell:nth-of-type(5) {
		width: 10%;
	}
	.divTableCell:nth-of-type(6) {
		width: 5%;
	}
	.divTableCell.Column--Heading {
		color: #999999;
		font-size: .85em;
	}
}
