.GasTank {
  width: 100%;
  .GasTank__gas {
    width: 200px;
    float: left;
  }
  .GasTank__info {
    float: right;
    width: calc(100% - 250px);
    padding-right: 25px;
  }
}

// CircularProgressbar
.CircularProgressbar .CircularProgressbar-trail {
  stroke: #F88073;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: url(#gas);
}
